

.main-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.webrtc-login, .card {
    border-radius: 18px;
    margin: 20px;
}
body {
    /*background-image: url(../images/bg.jpg);*/
    /*opacity: 0.8;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    margin: 0;
    padding: 0;
    height: 100vh;
}

video {
    border: 8px solid rgba(50,50,50,0.7);
    border-radius: 16px;
    box-shadow: inset 1px 1px 15px black;
    /*margin: 10px;*/
}

.call-wrap {
    position: relative;
    display: block;
    width: 45vw;
    height: 45vw;
}

#local-video {
    width: 12vw;
    height: 12vw;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 9;
    margin: 1px;
    border: 1px solid ghostwhite;
}

#remote-video {
    background-repeat: no-repeat;
    background-size: cover;
    width: 45vw;
    height: 45vw;
}

.chat-wrap {
    display: -ms-inline-flexbox;
    width: 40vw;
    margin-left: 5px;
    padding: 10px;
    max-height: 500px;
    overflow-y: scroll;
}

.call-hang-status {
    position: absolute;
    z-index: 999;
    height: 55vw;
    width: 100%;
}

.calling-status-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 74%;
    z-index: 9;
}

.user-image img {
    height: 150px;
    width: 150px;
}

.user-name {
    padding: 5px 0;
    font-size: 18px;
}

.user-calling-status {
    padding: 15px 0;
    font-size: 18px;
}

.calling-action {
    padding: 50px 0 0 0;
    display: flex;
}

.audio-icon {
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    margin-right: 20px;
}

.close-icon {
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}

.call-status-wrap {
    height: 500px;
    width: 500px;
}

.calling-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 9;
}

.calling-hang-action {
    padding: 420px 0 0 0;
    display: flex;
}

.video-toggle {
    border-radius: 50%;
    padding: 8px;
    margin-right: 20px;
    cursor: pointer;
}

.audio-toggle {
    border-radius: 50%;
    padding: 8px;
    margin-right: 20px;
    cursor: pointer;
}

.call-cancel-icon {
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}
button {
    border-radius: 8px;
}
.shade {
    box-shadow:
            3px 3px 8px rgba(0,0,0,0.5),
            4px 4px 18px rgba(0,0,0,0.8),
            5px 5px 38px rgba(0,0,0,0.8);
}
/*




KEEP EM...YOU KNOW...SEPERATED?




*/

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100vw;
        height: 100vh;
    }
    #remote-video {
        background-image: url("../images/me.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 80vw;
        height: 80vw;
    }
    .call-wrap {
        position: relative;
        display: block;
        border-radius: 15px;
        width: 80vw;
        height: 80vw;
    }
    .calling-status-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 74%;
        z-index: 9;
    }
    .chat-wrap {
        display: -ms-inline-flexbox;
        width: 90vw;
        margin-left: 5px;
        padding: 10px;
        max-height: 500px;
    }
}