body {
    /*background-image: url(../images/bg.jpg);*/
    opacity: 0.8;
    background-size: cover;
}

.main-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

video {
    background: rgba(0,0,0,0);
    border-radius: 10px;

}

.call-wrap {
    position: relative;
    display: block;
    padding: 10px;
}

#local-video {
    opacity: 0.6;
    width: 100px;
    height: auto;
    position: absolute;
    top: 25px;
    right: 35px;
    z-index: 9;
    box-shadow: inset 0 0 14px 4px black,0 0 4px 1px ghostwhite;
}

#remote-video {
    position: relative;
    z-index: 999;
    height: auto;
    width: 96%;

    background: rgba(0,0,0,0.7);
    border: 3px solid ghostwhite;
    box-shadow: inset 2px 1px 14px 2px black,-2px -1px 14px 2px ghostwhite;


}

.chat-wrap {
    display: block;
    width: 400px;
    margin-left: 15px;
    padding: 10px;
    max-height: 500px;
    overflow-y: scroll;
}

.call-hang-status {
    position: absolute;
    border: 3px solid ghostwhite;
    border-radius: 10px;
    box-shadow: 2px 1px 14px 2px black;


    z-index: 999;
    height: auto;
    width: 96%;
    margin-left: 0.1vw;
    /*margin-top: 7.5vw;*/

}

.calling-status-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 9;
}

.user-image img {
    height: 3vw;
    width: 3vw;
}

.user-name {
    padding: 5px 0;
    font-size: 18px;
}

.user-calling-status {
    padding: 15px 0;
    font-size: 18px;
}

.calling-action {
    padding: 50px 0 0 0;
    display: flex;
}

.audio-icon {
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    margin-right: 20px;
}

.close-icon {
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}

.call-status-wrap {
    height: 500px;
    width: 500px;
}

.calling-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 9;
}

.calling-hang-action {
    padding: 420px 0 0 0;
    display: flex;
}

.video-toggle {
    border-radius: 50%;
    padding: 8px;
    margin-right: 20px;
    cursor: pointer;
}

.audio-toggle {
    border-radius: 50%;
    padding: 8px;
    margin-right: 20px;
    cursor: pointer;
}

.call-cancel-icon {
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}
